.StuffCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $White;
  border-radius: 6px;

  &__header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;

    span {
      color: #3f3f3f;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  iframe {
    border-radius: 0 0 6px 6px;
  }
}
