.Filter {
  margin-bottom: 25px;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

  &:hover {
    opacity: 1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
}

.Filter-active {
  opacity: 1;
}
