.BackButton {
  display: flex;
  flex: 1;
  flex-direction: column;
  img {
    display: flex;
    align-self: flex-end;
    margin-right: 25px;
    height: 30px;
    width: 30px;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: 0.2s;
    }
  }
}
