.BackButton {
  display: flex;
  flex: 1;
  flex-direction: column;
  &__button {
    display: flex;
    align-self: flex-end;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);

    &:hover {
      transform: scale(1.1);
      transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    }
  }
}
