.NavBar {
  position: fixed;
  display: flex;
  flex: 1;
  background: $Blue;
  width: $NavBar__Width;
  height: $NavBar__Height;
  .NavBar_Links {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    .NavBar_Link {
      padding-bottom: 45px;
      .NavBar_img {
        width: 60px;
        height: 60px;
      }
      .NavBar_img:hover {
        transform: scale(1.1);
      }
    }
  }
}
